
*.Zip
*.LOG
*.SchDocPreview
Altium Project RUT_L865_V4/Project Outputs for RUT_L865_V4/Design Rule Check - L865_V4_PCB.html
Altium Project RUT_L865_V4/Project Outputs for RUT_L865_V4/Design Rule Check - L865_V4_PCB.drc
